.carditems{
    margin: 100px 170px;
}

.carditems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitmes-down{
    display: flex;
    margin: 100px 0px;
}

.cartitmes-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}

.cartitmes-total-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 16px;
}

.cartitmes-total h1{
    font-size: 28px;
    font-weight: 600;
}

.cartitmes-total h3{
    font-size: 20px;
    font-weight: 600;
}

.cartitems-promocode{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitem-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    display: flex;
    align-items: center;
}

.cartitem-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitem-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

.carditems > button{
    margin-top: 30px;
    width: 260px;
    height: 55px;
    background: #ff5a5a;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
